    <section id="about" class="about-section section-first">
      <div class="container content-lg">
        <div class="title-v1">
          <h2>企业简介</h2>
          <p>先思量，后执行，只为求更高效<br>Think，before action</p>
        </div>
        <div class="row">
          <div class="col-md-6 content-boxes-v3 margin-bottom-40">
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">洞察——知识只是信息而已，智慧却是洞察力</h2>
                <p>商业社会要想谋求发展，必须要有极强的发现新兴事物、发现现有事物发展方向的能力。我们擅长以营销学与心理学的原理和视角来归纳总结人的行为表现，从而最大优化社会商业行为的效率。</p>
              </div>
            </div>
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">创新——领袖和跟风者的区别，就是在于创新。</h2>
                <p>牛斗兄弟透过团队的可持续创作能力，为合作方的品牌发掘新的商业机会，以运营的角度在市场趋势、消费者分析及产品研究中总结出一套客观、清晰、严谨的思路，领跑电商领域前沿。</p>
              </div>
            </div>
            <div class="clearfix margin-bottom-30">
              <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
              <div class="content-boxes-in-v3">
                <h2 class="heading-sm">挑战——舞台往往属于打破常规之人。</h2>
                <p>挑战常规，直面权威。相对论因爱因斯坦挑战牛顿的经典力学而得出，日心说诞生于哥白尼挑战托勒密的权威。牛斗兄弟鼓励员工挑战常规，敢于直面一切权威理论，墨守成规注定只能在角落生存。</p>
              </div>
            </div>
          </div>
          <div class="col-md-6"><img class="img-responsive" src="images/mockup/mockup1.png" alt=""></div>
        </div>
      </div>        
      <div class="parallax-quote parallaxBg">
        <div class="container">
          <div class="parallax-quote-in">
            <p>努力过，成败难测；不努力，必败无疑</p>
            <small>For its success, all things need to pay the price: the struggle</small>
          </div>
        </div>
      </div>        
    </section>