    <section id="contact" class="contacts-section">
      <div class="container content-lg">
        <div class="title-v1">
          <h2>联系我们</h2>
          <p>For more information contact us</p>
        </div>
        <div class="row contacts-in">
          <div class="col-md-6 md-margin-bottom-40">
            <ul class="list-unstyled">
              <li><i class="fa fa-home"></i>广东省佛山市顺德区容桂桂洲大道中36号2楼</li>
              <li><i class="fa fa-phone"></i>0757-22901812</li>
              <li><i class="fa fa-qq"></i><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1043974207&amp;site=qq&amp;menu=yes" target="_blank"><img title="请咨询我" alt="请咨询我" src="http://wpa.qq.com/pa?p=2:1043974207:41" border="0"></a></li>
              <li><i class="fa fa-weixin"></i> <a class="fancybox-btn" href="/images/contact/weixin.jpg">newlode</a></li>
              <li><i class="fa fa-weibo"></i> <a href="http://weibo.com/u/3730898007" target="_blank">牛斗兄弟网络科技有限公司</a></li>
              <li><i class="fa fa-envelope"></i>william@newlode.com</li>
              <li><i class="fa fa-users"></i> <a href="http://search.51job.com/list/co,c,3098875,000000,10,1.html" target="_blank">加入我们</a></li>
            </ul>
          </div>
          <div class="col-md-6"><a href="http://j.map.baidu.com/X45mw" target="_blank"><img class="img-responsive" src="/images/contact/map.jpg" alt="联系我们"></a></div>
        </div>
      </div>
      <div class="copyright-section">
        <p>2009-2014 &copy; 佛山市顺德区牛斗兄弟网络科技有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备12075600号-3</p>
        <p>网站建设与维护：<a href="http://osw.cc">OSW</a> <a href="{{ site.url }}/Sitemap.xml" target="_blank">Sitemap</a></p>
      </div>
    </section>