    <!-- Contact Section -->
    <section id="contact" class="contacts-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>联系我们</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                It has been the industry's standard dummy text.</p>
            </div>

            <div class="row contacts-in">
                <div class="col-md-6 md-margin-bottom-40">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i>广东省佛山市顺德区容桂街道天佑城对面社保局楼上五楼</li>
                        <li><i class="fa fa-phone"></i>0757-12345678</li>
                        <li><i class="fa fa-qq"></i><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=a808d3d4d5343e8be159b10f27485cb3e43f70d941b419e0"><img border="0"  src="http://wpa.qq.com/imgd?IDKEY=a808d3d4d5343e8be159b10f27485cb3e43f70d941b419e0&pic=42" alt="博主QQ" title="博主QQ"/></a></li>
                        <li><i class="fa fa-weixin"></i> <a class="fancybox-btn" href="images/contact.jpg">xxx</a></li>
                        <li><i class="fa fa-weibo"></i> <a href="info@example.com">xxx</a></li>
                        <li><i class="fa fa-envelope"></i> <a href="info@example.com">xxx@example.com</a></li>
                        <li><i class="fa fa-users"></i> <a href="http://htmlstream.com">加入我们</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive" src="images/contact.jpg" alt="联系我们">
                </div>
            </div>            
        </div>

        <div class="copyright-section">
            <p>2009-2014 &copy; All Rights Reserved. Unify Theme by <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a></p>
            <p>网站建设与维护：<a href="http://osw.cc">OSW</a></p>
        </div>
    </section>
    <!-- End Contact Section -->

