    <section id="cooperation" class="about-section">
      <div class="container content-lg">
        <div class="title-v1">
          <h2>合作流程</h2>
          <p>以下就是我们的合作流程，详情可与我们联系<br>This is our cooperation process, Contact us for more information</p>       
        </div>
        <div class="wrapper-portfolio">
          <ul class="timeline-v1">
            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-body text-justify">
                  <h2><a>品牌商</a></h2>
                  <p>市场部针对行业市场，品牌企业、品牌产品、电商适配、竞品分析等生成初步可行性报告。</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-body text-justify">
                  <h2><a>提案</a></h2>
                  <p>市场部针对实际情况与项目部意见生成项目方案。</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-body text-justify">
                  <h2><a>洽谈</a></h2>
                  <p>公司决策层与品牌商签订合同。</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-body text-justify">
                  <h2><a>运营执行</a></h2>
                  <p>项目部、创作部、客服部组建相关小组，执行项目。</p>
                </div>
              </div>
            </li>
            <li class="clearfix" style="float: none;"></li>
          </ul>
        </div>
      </div>
    </section>