  <section id="portfolio" class="about-section">
    <div class="container content-lg">
      <div class="title-v1">
        <h2>成功案例</h2>
        <p>信心源于实力，实力源于自信<br>Self-trust is the first secret of success</p>                
      </div>
      <div class="wrapper-portfolio">
        <div id="filters-container" class="cbp-l-filters-alignLeft">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">全部</div>
          <div data-filter=".生活家居类" class="cbp-filter-item">生活家居类</div>
          <div data-filter=".小家电类" class="cbp-filter-item">小家电类</div>
        </div>
        <div id="grid-container" class="cbp-l-grid-gallery">
          <ul>
            <li class="cbp-item 生活家居类 motion">
              <a href="http://nanfangchuju.tmall.com/" class="cbp-caption" target="_blank">
                <div class="cbp-caption-defaultWrap"><img src="/images/portfolio/nanfangchuju.jpg" alt="南方厨具" width="100%"></div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">南方厨具</div>
                      <div class="cbp-l-caption-desc">天猫店案例</div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="cbp-item 小家电类">
              <a href="http://niudouxiongdi.taobao.com/" class="cbp-caption" target="_blank">
                <div class="cbp-caption-defaultWrap"><img src="/images/portfolio/niudouxiongdi.jpg" alt="牛斗兄弟生活电器旗舰店" width="100%"></div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">牛斗兄弟生活电器旗舰店</div>
                      <div class="cbp-l-caption-desc">C店案例</div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="cbp-item 生活家居类">
              <a href="http://ndxdcp.tmall.com/" class="cbp-caption" target="_blank">
                <div class="cbp-caption-defaultWrap"><img src="/images/portfolio/macgent.jpg" alt="玛象旗舰店" width="100%"></div>
                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                      <div class="cbp-l-caption-title">玛象旗舰店</div>
                      <div class="cbp-l-caption-desc">天猫店案例</div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="parallax-quote parallaxBg">
      <div class="container">
        <div class="parallax-quote-in">
          <p>不为模糊的未来担忧，只为清晰的现在努力</p>
          <small>Death belongs to the past, the future belongs to you</small>
        </div>
      </div>
    </div>                 
  </section>