<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="zh"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    {% stylesheet application %}
  </head>
  <body id="body" data-spy="scroll" data-target=".navbar-fixed-top" class="demo-lightbox-gallery">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#intro"><img src="/images/newlode-logo.png" alt="牛斗兄弟logo"></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="page-scroll"><a href="#body">首页</a></li>
            <li class="page-scroll"><a href="#about">企业简介</a></li>
            <li class="page-scroll"><a href="#services">服务内容</a></li>
            <li class="page-scroll"><a href="#portfolio">成功案例</a></li>
            <li class="page-scroll"><a href="#cooperation">合作流程</a></li>
            <li class="page-scroll"><a href="#contact">联系我们</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {{ content }}
    {% javascript application %}
    <!--[if lt IE 9]>
      <script src="/assets/respond.js"></script>
      <script src="/assets/html5shiv.js"></script>
    <![endif]-->    
  </body>
</html>